.account {
    /* width: 98vw; */
    margin-left: 50px;
}

ul {
    list-style: none;
}

.infor {
    margin-top: 5vh;
    width: 70vw;
}

.infor h4, .password h4, .acc, .pw {
    margin: 5vh 3vw;
}
button {
    background-color: red;
}