@media (min-width: 64em) {
    #logo {
        max-width: 243px;
    }
}

#logo {
    max-width: 200px;
    width: 243px;
    height: auto;
}

@media (min-width: 48em) {
    .navbar-horizontal-menu {
        padding: 0;
        margin: 8px 20px 0 0;
    }
}

@media (min-width: 48em) {
    .masthead, .mastfoot {
        width: 100%;
    }
}

.masthead {
    background-color: darkslateblue;
    min-width: 100%;
    width: 100%;
    min-height: 42px;
    z-index: 100;
    padding: 0;
    margin: 0;
}

.masthead li {
    margin-left: 10px;
}

.masthead Button {
    margin-top: 5px;
}

.mastfoot {
    background: darkslateblue;
    bottom: 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.mastfoot li {
    display: inline;
    padding-right: 40px;
}

.inner-footer {
    max-width: 1200px;
    width: 100%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-link {
    color: white !important;
    font-size: 20px;
}

.header-link:hover {
    background-color: mediumblue;
}

.follow {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-link {
    color: white !important;
}