:root{
    --font-family:  "Open Sans", Helvetica, Arial, sans-serif
}
.navbar1{
    /* background: transparent; */
    background-color: rgba(74, 84, 90, 0.1);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: .5s ease;
    z-index: 999;
    font-family: var(--font-family);

}
.navbar1.active{
    position: sticky;
    top:0;
    background-color: rgba(41, 46, 49, 1);
}

.nav-container{
    height: 50px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
}
.nav-logo{
    margin-left: 5%;
}
#logo {
    width: 140px;
    height: 30px;
}
.nav-item {
    flex-basis: 30%;
}

.nav-menu ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nav-menu ul li:last-child{
    margin-right: 5%;
}

.nav-menu ul li a{
    color: rgba(255,255,255, 1);
    font-size: 16px;
    display: inline-block;
}
.nav-menu ul li a::after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgba(255, 255, 255,.7);
    transition: 600ms;

}
.nav-menu ul li a:hover{
    color: rgba(207, 207, 195,.7);
}
.nav-menu ul li a:hover::after{
    width: 100%;
}
.nav-menu ul li button{
    background-color: rgba(253, 253, 253,0);
    border: 0;
    font-size: 16px;
}
.nav-menu ul li button::after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgba(255, 255, 255,.7);
    transition: 600ms;

}
.nav-menu ul li button:hover{
    color: rgba(207, 207, 195,.7);
    background-color:  rgba(253, 253, 253,0);
}
.nav-menu ul li button:hover::after{
    width: 100%;
    background-color:  rgba(253, 253, 253,0);
}
.header-background{
    background-color: rgba(41, 46, 49,.9);
}