header {
    font-family: "Syne Mono", monospace;
    font-size: 17px;
    position: fixed;
    width: 100vw;
}

@media (min-width: 64em) {
    #logo {
        max-width: 243px;
    }
}

#logo {
    width: 150px;
    height: 50px;
}

@media (min-width: 48em) {
    .navbar-horizontal-menu {
        padding: 0;
        margin: 1vw 5vw 0 0;
    }
}

@media (min-width: 48em) {
    .masthead, .mastfoot {
        width: 100%;
    }
}

.masthead {
    background-color: rgb(82, 80, 80);
    min-width: 100%;
    width: 100%;
    min-height: 42px;
    z-index: 100;
    padding: 0;
    margin: 0;
}

.masthead li {
    margin-left: 3vw;
}

.masthead Button {
    margin-top: 5px;
}

.mastfoot {
    background: rgb(82, 80, 80);
    bottom: 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.mastfoot li {
    display: inline;
    padding-right: 40px;
}

.inner-footer {
    max-width: 1200px;
    width: 100%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-link {
    color: rgb(250, 246, 246) !important;

}

.header-link:hover {
    color: rgb(144, 146, 142)  !important;
    border-bottom: 0.5px solid white;
}

.follow {

    margin-bottom: 10px;
}

.footer-link {
    color: white !important;
}

.button {
    border-radius: 10px;
    background-color: rgb(82, 80, 80);
    border: 1px solid white;
    font-family: "Syne Mono", monospace;

}

input::placeholder {
    text-align: center;
}
.input-label {
    text-align: center;
    font-size: 16px;
    font-family: "Syne Mono", monospace;

}
/* 
#search-keyword, #search-date-range, #search-guests {
    text-align: center;
} */