.room-page {
    padding-top: 100px;
}

.room-page .hotel-info div {
    display: flex;
}

.room-page .swiper-container {
    width: 95%;
    margin-left: 0%;
}

.room-page .hotel-info {
    margin-left: 7%;
}

.room-page .hotel-info label{
    flex-basis: 10%;
    font-weight: 700;
}

.room-page img {
    width: 350px;
    height: 250px;
}

.room-page .swiper-slide {
    margin: 10px 40px;
    padding: 0;
    width: 200px;
}

.room-page .room-info {
    margin-top: 50px;
    display: flex;
}

.room-info .room-left-content {
    flex-basis: 45%;
    background-color: rgb(5, 24, 43);
    color: white;
    padding: 25px;
}

.room-right-content {
    flex-basis: 50%;

}

.right-content {
    line-height: 25px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 0 25px;
  }

  .room-right-content .right-content .content {
    flex-basis: 60%;
  }

  .room-right-content .right-content .sign {
    flex-basis: 10%;
  }

  .room-right-content .right-content label {
    flex-basis: 20%;
  }

  .room-right-content .right-content .group {
    display: flex;
  }

  .room-right-content .right-content button {
    width: 60%;
    margin: 10px 0;
  }


  .room-right-content .right-content .content-info {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    line-height: 30px;
  }

  .selectBtn, .cost-room {
      background-color: rgb(5, 24, 43);
      color: white;
  }
  .cost-room {
      position: absolute;
      top: 77%;
      left: -3%;
      padding: 10px;
      width: 120px;
}

.room-left-content .group {
  margin-top: 15px;
  display: flex;
}

.room-left-content .group label {
  flex-basis: 30%;
}