.Sidebar {
    /* min-height: 660px; */
    height: 100vh;
    /* position: fixed; */
    background-color: rgb(170,169,175);
    width: 20vw;
}

.SidebarList {
    height: auto;
    padding:0;
}

.SidebarList .row {
    height: 60px;
    width: 100%;
    list-style-type:none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: lightgray;
    justify-content: center;
    align-items: center;
}

.Sidebar .row:hover {
    cursor: pointer;
    color:white;
}

.icon {
    flex: 30px;
    display: grid;
    place-items: center;
}

.title {
    flex: 70%;
}

.logo {
    height: 18vh;
    width: 8vw;
    margin: 5vh 2vw;
}

.logo img {
    border-radius: 50%;
    width: 8vw;
    height: 18vh;
}
