.container{
    display: flex;
    margin-left: 10%;
}
.FormGroup{
    width:250px;
    margin-left: 7%;
}
.left{
    width:300px;
    background-color: #FFBF00;
    border: 1px solid #F4FA58;
    height:420px;
    
}
.right{
    margin-left: 20px;
}
.left2{
    
    border:1px solid lightgray;
}
.check{
    margin-bottom: 10px;
    margin-left: 7%;
}
h6{
    margin-left: 7%;
    padding-top: 20px;
   
}
.label{
    display: flex;
    justify-content: space-between;
}
.rightLB{
    padding-right: 15px;
    color: gray;
}