.cover-img {
    background-image: linear-gradient(rgba(88, 88, 88, 0.5), rgba(88, 88, 88, 0.5)),
    url("https://amazingdalat.com/media/upload/images/am-thuc/Ca%CC%80%20phe%CC%82%20Woodstock%20Da%20Lat.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.cover-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.cover {
    padding: 50px 1.5rem 0;
    margin-bottom: 55px;
}

.cover-heading {
    font-family: 'Pacifico', cursive;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
}

#search-box {
    max-width: 1200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 14px 30px 10px;
}

.search-input-container {
    background: #ffffff;
    border: 1px solid #999999;
    padding: 6px;
    border-radius: 5px;
    min-height: 60px;
    margin: 6px 2px;
}

.input-label {
    text-align: left;
    font-size: 12px;
    color: #292e46;
    text-transform: uppercase;
}

#search-keyword {
    font-size: 17px;
    line-height: 24px;
    border-bottom: none;
    font-weight: bold;
    color: #292e46;
    background: transparent;
    width: 100%;
    text-align: left;
    margin: auto auto 0;
    outline: none;
    border: 0;
}

.input-date {
    font-size: 17px;
    line-height: 24px;
    width: calc(100% - 25px);
    font-weight: 400;
    color: #333;
    outline: none;
    border: 0;
}

.input-guests {
    font-size: 17px;
    line-height: 24px;
    text-align: left;
    width: 50px;
    font-weight: 400;
    color: #333;
    outline: none;
    border: 0;
}

.search-input-container.search {
    background-color: #222f5b;
    border: 2px solid #ffffff;
    text-align: center;
    font-size: 17px;
    line-height: 43px;
    font-weight: bold;
    color: white;
}