.container-search-result {
    padding-top: 100px;
    display: flex;
}

.container-search-result img {
    width: 320px;
    height: 170px;
}

.container-search-result .right {
    flex-basis: 65%;
}

.container-search-result .hotel-info {
    border-bottom: 1px solid grey;
    margin-top: 35px;
}
.search-left {
    margin: 0 50px 0 5px;
    padding: 20px 20px 40px;
    flex-basis: 25%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.title-search, h6, h4, h3 {
    font-family: "Jost";
    text-transform: uppercase;
    /* margin-left: 10%; */
}

.search-left-content {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.search-left-group {
    margin-top: 20px;
}
