.error-page {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.error-container {
    text-align: center;
    text-transform: capitalize;
}

.error-container img {
    margin-bottom: 50px;
}

.to-home {
    font-size: 20px;
}