:root {
  --maxWidth: 40rem;
  --smallWidth: 85vw;
  --fullWidth: 1170px;
  --mainTransition: all 0.3s linear;
  --primaryColor: #f15025;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 2rem 0;
}

.header ul {
  display: flex;
  justify-content: space-between;
  width: var(--smallWidth);
  margin: 2rem auto 0;
  max-width: var(--maxWidth);
}

.header ul div {
  display: flex;
  align-items: center;
}

.header a {
  text-transform: capitalize;
  margin: 0 0.25rem;
  font-size: 0.85rem;
  letter-spacing: 2px;
  transition: var(--mainTransition);
}

.header a:hover {
  color: var(--primaryColor);
}